<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>The Big-Data Ecosystem Table</title>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-25296671-4', 'andreamostosi.name');
      ga('send', 'pageview');

    </script>

    <meta property="og:title" content="The Big-Data Ecosystem Table"/>
    <meta property="og:image" content="http://bigdata.andreamostosi.name/bigdata.jpg"/>
    <meta property="og:site_name" content="Useful Stuff - Andrea Mostosi Blog"/>
    <meta property="og:description" content="This page is built merging the Hadoop Ecosystem Table (by Javi Roman and other contributors) and projects list collected on my blog. Result is an incomplete-but-useful list of big-data related projects. If you like you can contribute to the original project or to my fork."/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://bigdata.andreamostosi.name">
    <meta name="twitter:title" content="The Big-Data Ecosystem Table">
    <meta name="twitter:creator" content="@zenkay">
    <meta name="twitter:description" content="This page is built merging the Hadoop Ecosystem Table (by Javi Roman and other contributors) and projects list collected on my blog. Result is an incomplete-but-useful list of big-data related projects. If you like you can contribute to the original project or to my fork.">
    <meta name="twitter:image" content="http://bigdata.andreamostosi.name/bigdata.jpg">

  </head>
  <body>

    <section class="container">

    <header class="inner">
    <h1>The Big-Data Ecosystem Table</h1>

    <blockquote><p><em>Incomplete-but-useful list of big-data related projects packed into a JSON dataset.</em></p>

    <ul>
      <li>Github repository: <a href="https://github.com/zenkay/bigdata-ecosystem">https://github.com/zenkay/bigdata-ecosystem</a></li>
      <li>Raw JSON data: <a href="http://bigdata.andreamostosi.name/data.json">http://bigdata.andreamostosi.name/data.json</a></li>
      <li>Original page on my blog: <a href="http://blog.andreamostosi.name/big-data/">http://blog.andreamostosi.name/big-data/</a></li>
    </ul>

    <p>by <a href="https://twitter.com/zenkay">Andrea Mostosi</a> (<a href="http://blog.andreamostosi.name">http://blog.andreamostosi.name</a>)</p>
     </blockquote>
    </header>
     
    <table class="table table-striped table-condensed table-bordered">
    <% categories.each do |category| %>
      <tr class="success"><th colspan="3"><%= category["name"] %></th></tr>
      <% unless category["items"].nil? %>
      <% category["items"].each do |item| %>
      <tr>
        <td width="20%"><%= item["name"] %></td>
        <td><%= item["description"] %></td>
        <td width="20%">
        <% item["links"].each_with_index do |link, index| %>
          <a href="<%= link["url"] %>"><%= index + 1 %>. <%= link["text"] %></a><br>
        <% end %>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    </table>

    <h2>Papers</h2>

    <table class="table table-striped table-condensed table-bordered">
      <% papers.each do |year, papers_by_year| %>
        <tr class="success"><th colspan="2"><%= year %></th></tr>
        <% papers_by_year.each do |paper| %>
        <tr>
          <td width="20%"><%= paper["year"] %></td>
          <td><a href="<%= paper["links"][0]["url"] %>"><%= paper["title"] %></a></td>
        </tr>
        <% end %>
      <% end %>
    </table>

    <h3>Related projects</h3>
    <ul>
      <li><a href="http://hadoopecosystemtable.github.io/">Hadoop Ecosystem Table</a> by <a href="https://github.com/javiroman">Javi Roman</a></li>
      <li><a href="https://github.com/onurakpolat/awesome-bigdata">Awesome Big Data</a> by <a href="https://github.com/onurakpolat">Onur Akpolat</a></li>
      <li><a href="https://github.com/bayandin/awesome-awesomeness">Awesome Awesomeness</a> by <a href="https://github.com/bayandin">Alexander Bayandin</a></li>
      <li><a href="https://github.com/youngwookim/awesome-hadoop">Awesome Hadoop</a> by <a href="https://github.com/youngwookim">Youngwoo Kim</a></li>
    </ul>

    <footer class="inner">
    <p>Published with <a href="http://aws.amazon.com">Amazon S3</a>
    </footer>

    </section>

  </body>
</html>
