"<em><strong>Big-data</strong></em>" is one of the most inflated buzzword of the last years. Technologies born to handle huge datasets and overcome limits of previous products are gaining popularity outside the research environment. The following list would be a reference of this world. It's still incomplete and always will be.

<% categories.each do |category| %>
<strong><%= category["name"] %></strong>
<ul>
<% unless category["items"].nil? %>
<% category["items"].each do |item| %>
<% if item["links"].any? %>
<li><a href="<%= item["links"][0]["url"] %>"><strong><%= item["name"] %></strong></a>: <%= item["abstract"] %></li>
<% else %>
<li><strong><%= item["name"] %></strong>: <%= item["abstract"] %></li>
<% end %>
<% end %>
<% end %>
</ul>
<% end %>

<em>If you like this list you are probably interested in my list of <strong><a href="http://blog.andreamostosi.name/papers/">big-data related papers</a></strong>.</em>

<strong>Related projects</strong>
<ul>
  <li><strong><a href="http://bigdata.andreamostosi.name/">Big data Ecosystem Table</a></strong></li>
  <li><a href="http://hadoopecosystemtable.github.io/">Hadoop Ecosystem Table</a> by <a href="https://github.com/javiroman">Javi Roman</a></li>
  <li><a href="https://github.com/onurakpolat/awesome-bigdata">Awesome Big Data</a> by <a href="https://github.com/onurakpolat">Onur Akpolat</a></li>
  <li><a href="https://github.com/bayandin/awesome-awesomeness">Awesome Awesomeness</a> by <a href="https://github.com/bayandin">Alexander Bayandin</a></li>
  <li><a href="https://github.com/youngwookim/awesome-hadoop">Awesome Hadoop</a> by <a href="https://github.com/youngwookim">Youngwoo Kim</a></li>
  <li><a href="https://github.com/strzalek/queues.io">Queues.io</a> by <a href="https://github.com/strzalek">Łukasz Strzałkowski</a></li>
</ul>